<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.focre.adminrest.modular.auth.mapper.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.focre.adminrest.modular.auth.model.entity.SysMenu">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="pcode" property="pcode" />
        <result column="pcodes" property="pcodes" />
        <result column="name" property="name" />
        <result column="tips" property="tips" />
        <result column="icon" property="icon" />
        <result column="url" property="url" />
        <result column="sort" property="sort" />
        <result column="levels" property="levels" />
        <result column="is_menu" property="isMenu" />
        <result column="status" property="status" />
        <result column="is_open" property="isOpen" />
        <result column="version" property="version" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, pcode, pcodes, name, tips, icon, url, sort, levels, is_menu, status, is_open, version
    </sql>

</mapper>
